<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<connectionStrings>
		<add name="cadena" connectionString="Server=bijfrzvolhl5anennjl6-mysql.services.clever-cloud.com;Port=3306;Database=bijfrzvolhl5anennjl6;Uid=upzp80kktr3ugq4m;Pwd=OwOO6Z0IPxC9xjLQqTdO;" providerName="System.Data.SQLite" />
	</connectionStrings>
</configuration>
